<!DOCTYPE html>
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>
<head>
 

<script> data-ad-client="ca-pub-9328277883112913" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"</script>


    <%- _partial('common/head') %>

</head>
<body class="is-<%= column_count() %>-column">
    <%- _partial('common/navbar') %>
    <% function main_column_class() {
        switch (column_count()) {
            case 1:
                return 'is-12';
            case 2:
                return 'is-8-tablet is-8-desktop is-8-widescreen';
            case 3:
                return 'is-8-tablet is-8-desktop is-6-widescreen'
        }
        return '';
    } %>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column <%= main_column_class() %> has-order-2 column-main"><%- body %></div>
                <%- _partial('common/widget', { position: 'left' }) %>
                <%- _partial('common/widget', { position: 'right' }) %>
            </div>
        </div>
    </section>
    <%- _partial('common/footer') %>
    <%- _partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- _partial('search/' + get_config('search.type')) %>
    <% } %>

    <script type="text/javascript">
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "junjun10804-22";
        amzn_assoc_linkid = "a2bf22d07745bf445a15da2be88b6c50";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "JP";
    </script>
    <script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
</body>
</html>